@import url(./root.css);
.cards{
	display: flex;
	flex-direction: row;
	flex: wrap;
	justify-content: space-evenly;
}

img{
	width:50%;
}
.card {
	width: 100%;
	font-family: var(--fuente);
}

.card-categoria{
	text-decoration: none;
	color: var(--color-black);
	font-weight: 600;
}

p{
	margin: 5px;
	text-align: center;
}
h1{
	font-size: var(--fuente-grande);
	margin: 20px;
}
.img-cover{
	width:100%;
	height:50vh;
}
a{
	text-decoration:none;
	color: var(--color-white);
	text-transform: uppercase;
	margin-bottom: 5px;
}