@import url(./root.css);
html{
    box-sizing: border-box;
    font-size: 16px;
    font-family:'Pangolin';
}
body{
    background: linear-gradient(90deg, rgb(216, 195, 177), rgb(202, 156, 4));
}

.cards{
	display: flex;
	flex-direction: row;
	flex: wrap;
	justify-content: space-evenly;
}

img{
	width:100%;
}

.card {
	width: 100%;
	font-family: var(--fuente);
}

.card-categoria{
	text-decoration: none;
	color: var(--color-black);
	font-weight: 600;
}

#cover{
	width: 100%;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30vh;
	padding-right: 30vh;
	
}
p{
	margin: 5px;
	text-align: center;
}
h1{
	font-size: var(--fuente-grande);
	margin: 20px;
}

.menu-Bar{
	position: fixed;
	border: 2px solid;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-decoration: none;
	background-color: var(--color-black);
	transition: transform .3s ease-in-out;
	/* transform: translate(110%); */
}

a{
	text-decoration:none;
	color: var(--color-white);
	text-transform: uppercase;
	margin-bottom: 5px;
}