@import url(./root.css);

html{
    box-sizing: border-box;
    font-size: 16px;
    font-family:'Pangolin';
}

.menu{
    width: 40%;
    height: 2rem;
    background-color: bisque;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    text-align: center;
    margin: auto;
}