@import url(./root.css);

html{
    box-sizing: border-box;
    font-size: 16px;
    font-family:'Pangolin';
}

.cards{
	display: flex;
	flex-direction: row;
	flex: wrap;
	justify-content: space-evenly;
}

img{
	width: 50%;
}

.card {
	width: 100%;
	
}

.card-categoria{
	text-decoration: none;
}

#cover{
	width: 100%;
	height: 500px;
}